/day2-lab1/nbproject/**
/day2-lab1/build/**
/day2-lab1/test/**
/day2-lab1/manifest.mf
/day2-lab1/build.xml
/day1-lab1/nbproject/private/
/day1-lab1/build/
/day2-lab2/nbproject/private/
/day2-lab2/build/
/day2-lab3-inheritance2/nbproject/private/
/day-lab3-inheritance3/nbproject/private/
/day2-lab5-inheritance4/nbproject/private/
/day2-lab3-inheritance2/build/
/day-lab3-inheritance3/build/
/day-lab3-inheritance3/dist/
/day2-lab3-inheritance1/build/
/day2-lab3-inheritance1/nbproject/private/
/day2-lab5-inheritance4/build/